/*Partie présentation du GBAF*/
.imageGBAFPresentationDiv{
    display: flex;
    flex-direction: row;
}
.imgGBAFPres{
    margin: auto;
    height: 250px;
    width: 350px;
}
/*Partie acteur*/
.partie2Acteur{
    display: flex;
    flex-direction: column;
}
.partieActeurDiv{
    border: 1px solid grey;
    border-radius : 5px;
    margin-top: 1%;
    display: flex;
    background-color : rgba(111,111,111,0.250);
}
.partieGaucheLogo{
    width: 23%;
    margin-left: 1%;
}
.partieGaucheLogo img{
    width: 80%;
    height: 65%;
    margin-top: 6%;
}
.partieDroitePres{
    margin-left: 2%;
    width: 77%;
}
.lienActeur{
    display: block;
    position: relative;
    left: 90%;
    bottom: 5%;
    width: 8%;
    border: 1px solid rgba(138, 138, 138, 0.822);
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(145, 142, 142, 0.822);
    color: black;
    text-align: center;
}